body{
	margin: auto;
	width: 100% ;
	background-color: rgb(210, 210, 253) !important;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}


nav{
	background: rgb(60, 72, 107) !important;
}


ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;


  }
  
  li {
	float: left;
  }
  
  li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  li a:hover {
	background-color: rgb(210, 210, 253);
	color: black;
  }

  main{
	margin: 2%;
	flex-grow: 1;
  }



  footer{
	width: 100% ;
	color: white;
	text-align: center;
	background-color: rgb(60, 72, 107) !important;
  }

  .socialMedia{
	color: white !important;
  }

  button {
	background-color: #F9D949 !important;
	color: rgb(60, 72, 107) !important;
	border-color: #F9D949 !important ;
  }

  .btn-primary:hover {
	background-color: rgb(244, 80, 80) !important;
	border-color: rgb(244, 80, 80) !important;
	color: #fff !important;
  }
  
  .cardStyle{
	color:#fff;
	background-color:rgb(60, 72, 107) ;

  }

  .cardStyle h5{
	color:rgb(244, 80, 80) ;
  }

  .total{
	background: rgb(60, 72, 107) !important;
	color: #fff;
	border:#F9D949  solid;
  }

